@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --color1: #555b6e;
  --color1_light: #696f80;
  --color1_dark: #414654;
  --color2: #89b0ae;
  --color2_light: #a8c8c7;
  --color3: #bee3db;
  --color4: #faf9f9;
  --color5: #ffd6ba;
  --color6: #8B3668;
  --black: #000000;
  --white: #ffffff;

  --page-element-box-shadow: 5px 6px 30px -4px rgba(34, 60, 80, 0.05), 2px 2px 10px 2px rgba(34, 60, 80, 0.1);
  --page-element-border-radius: 10px;

  --base-font: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', sans-serif;

  --additional-font: 'Roboto Mono', monospace;
}

body {
  margin: 0;
  font-family: var(--base-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color4);
}

html,
body,
#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
